<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
</head>

<body>
	<!--	la etiqueta form me permite procesar la petición que tenga mi vista-->
	<!--	Para hacer una peticion desde el cliente usamos la URL.-->
	<form th:action="@{/personas/insertar}" th:object="${persona}" th:method="POST">
		<table>
			<tr>
				<td>
					<label>Nombre:</label>
				</td>
				<td>
					<!-- Atributos sin coma-->
					<!-- Asi vinculo con el nombre de la clase persona th:field="${persona.nombre}-->
					<input type="text" id="nombre" th:field="${persona.nombre}"></input>
				</td>
			</tr>

			<tr>
				<td>
					<label>Apellido:</label>
				</td>
				<td>
					<input type="text" id="apellido" th:field="${persona.apellido}"></input>
				</td>
			</tr>

			<tr>
				<td>
					<label>Cedula:</label>
				</td>
				<td>
					<input type="text" id="cedula" th:field="${persona.cedula}"></input>
				</td>
			</tr>

			<tr>
				<td>
					<label>Genero:</label>
				</td>
				<td>
					<input type="text" id="genero" th:field="${persona.genero}"></input>
				</td>
			</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>

</html>